# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
*.pyo
*.pyd

# Environment Variables
.env
.env.local
.env.*.local

# Database
db.sqlite3
*.sqlite3

# Logs
*.log

# OS
.DS_Store
*.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Project Specific
/uploads
/thumbnail_cache
/video_cache
/wheels/
*.xlsx
